.App {
  text-align: center;
}

.Content {
  
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Mid, .Left, .Right{
  display: flex;
  flex-direction: column;
  align-items: top;
}

.Left, .Right{
  display: flex;
  align-self: stretch;
}

.Test{

}